%h1= @group.name
founded by:
%a{:href => user_url(@group.founder_id)}
	= @group.founder.full_name
on
= @group.created_at

%h2 Description
= @group.description

%h2 Comments
= render "comments/comments_list", :comments => @group.comments

%h3 Add your own comment
- if logged_in?
	= render "comments/comments_form", :commentable => @group
- else
	%a{:href => new_session_url}
		Log in 
	or
	%a{:href => new_user_url}
		sign up 
	to comment.