%h1= @group.name
founded by:
%a{:href => user_url(@group.founder_id)}
	= @group.founder.full_name
on
= @group.created_at

%h2 Description
= @group.description

%h2 Comments
%ul
	- @group.comments.each do |comment|
		%li
			= comment.content
			%br 
			posted by
			%a{:href => user_url(comment.author_id)}
				= User.find(comment.author_id).username

%h3 Add your own comment
- if logged_in?
	= form_for [@group, Comment.new] do |f|
		%p
			= f.label :content
			%br
			= f.text_area :content
		%p
			= f.submit "Add Comment"
- else
	%a{:href => new_session_url}
		Log in 
	or
	%a{:href => new_user_url}
		sign up 
	to comment.