<!DOCTYPE html>
<html>
<head>
  <title>Meetapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div>
		<%= link_to "Users", users_url %>
		<%= link_to "Groups", groups_url %>
		|
		<% if logged_in? %>
			Logged in as 
			<%= link_to "#{current_user.username}", user_url(current_user) %>
			<%= link_to "Log out", session_url, :method => :delete %>
		<% else %>
			Welcome, guest.
			<%= link_to "Log in", new_session_url %>
			or
			<%= link_to "Sign up", new_user_url %>
		<% end %>
	</div>

	<% unless flash[:notices].nil? %>
		<div style="border: 1px solid black; background-color: khaki;">
			<ul>
			<% flash[:notices].each do |notice| %>
				<li><%= notice %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
